
.dropdown{
    display: none;
}

.dropdown:hover{
    display: block;
}

.dropdown1:hover .dropdown{
    display: block;
}


.dropdown3{
    display: none;
}

.dropdown2:hover .dropdown3{
    display: block;
}


.dropdown5{
    display: none;
}


.dropdown4:hover .dropdown5{
    display: block;
}
