

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.main {
  display: flex;
  
}
.Card {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 120px;
  font-family: 'Lato', sans-serif;
}
.Card div {
  line-height: 14px;
}
.flextext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  line-height: auto;
}
.flextext div:nth-child(2) {
  font-size: 25px;
  margin-top: 15px;
}

.Card div img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Card {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    flex-wrap: wrap;
  }
}
