.main {
  display: flex;
}
.Card {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.flextext {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.flextext div:nth-child(2) {
  font-size: 25px;
  margin-top: 15px;
}
.Card div img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Card {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    flex-wrap: wrap;
  }
}
