@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.main {
  display: flex;
  width: 100%;
  /* background: linear-gradient(to right, #6ff7e8,
  #0f68a9); */
}
.Card {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  margin-top: 80px;
  font-family: "Lato", sans-serif;
  padding: 5px;
  width: 100%;
  max-width: 1000px;
}
.Card div {
  line-height: 14px;
}
.flextext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  line-height: auto;
  height: 80px;
}
.flextext div:first-child{
 line-height: 20px;
}
.flextext div:nth-child(2) {
  font-size: 25px;
  margin-top: 15px;
}

.Card div img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .Card div {
    flex-wrap: wrap;
  }
  .Card {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: auto;
    gap: 15px;
    flex-wrap: wrap;
    font-family: "Lato", sans-serif;
    padding: 2px;
    max-width: 400px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .Card div {
    flex-wrap: wrap;
  }
  .Card {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: auto;
    gap: 15px;
    flex-wrap: wrap;
    font-family: "Lato", sans-serif;
    max-width: 300px;
    margin-right: 100px;
  }
}