@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.main {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #6ff7e8,
  #0f68a9);
}
.Card {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 120px;
  font-family: "Lato", sans-serif;
   margin-left: 320px;
   width: inherit;
  padding: 5px;

}
.Card div {
  line-height: 14px;
}
.flextext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  line-height: auto;
}
.flextext div:nth-child(2) {
  font-size: 25px;
  margin-top: 15px;
}

.Card div img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Card {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: auto;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 120px;
    font-family: "Lato", sans-serif;
    padding: 5px;
    margin-left: 300px;
    width: 60%;
    float: right;
  }
}