.sidebar-container{
   width: 320px;
   flex-wrap: wrap;
}
.heading {
   font-size: 30px;
   font-weight: bold;
   line-height: 22px;
   width: 350px;
}
.heading span {
   color: #b5c6e0;
   opacity: 0.8;
   font-weight: lighter;
}
.heading hr{
   border: 1.3px solid #fcdc6a;
   width: 40%;
   float: left;
   margin-left: 50px;
}

.inside-container {
   margin-bottom: 50px;
}
.inside-container  h4 {
color: #b5c6e0;
font-weight: bold;
}

.inside-container  h4:nth-child(1){
   width: 100px;
   margin-left: 120px;
}

@media screen and (max-width: 768px) {
   .heading hr{
      border: 1.3px solid #fcdc6a;
      width: 50%;
      margin-left: 15px;
   }
   .sidebar-container{
      width: 200px;
      flex-wrap: wrap;
   }
   .heading{
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      text-align: start;
      width: 120px;
      padding: 5px;
      margin-left: 25px ;
   }
 }
 