.sidebar-container {
  width: 300px;
  flex-wrap: wrap;
  position: fixed;
  height: 100vh;
  background: linear-gradient(to , #6ff7e8,
  #0f68a9);
}
.heading {
  font-size: 25px;
  font-weight: bold;
  line-height: 22px;
  width: 350px;
  color: #0f68a9;
}
.heading hr {
  width: 50% ;
  border: 1px solid  yellow;
}
.heading span {
  color: #34073d;
  font-weight: lighter;
}

.inside-container {
  margin-bottom: 50px;
}
.inside-container h4 {
  color: #145277;
}

.inside-container h4:nth-child(1) {
  width: 100px;
  margin-left: 110px;
}

.popular select {
  width: 200px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .heading hr {
    border: 1.3px solid #fcdc6a;
    width: 50%;
    margin-left: 15px;
  }
  .sidebar-container {
    width: 200px;
    flex-wrap: wrap;
  }
  .heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: start;
    width: 120px;
    padding: 5px;
    margin-left: 25px;
  }
  .popular select {
    width: 100px;
    padding: 6px;
  }
}
